In [3]:
import pandas as pd
import numpy as np
import os
import sys
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

point = Point(0.5, 0.5)
polygon = Polygon([(0, 0), (0, 1), (1, 1), (1, 0)])
print(polygon.contains(point))

True

In [4]:
df = pd.read_csv("geographic.csv")

In [26]:
df_uber_2014 = pd.read_csv("uber_trips_2014.csv")

In [45]:
df_uber_2014.head()

  pickup_datetime  pickup_latitude  pickup_longitude    base
0     4/1/14 0:11          40.7690          -73.9549  B02512
1     4/1/14 0:17          40.7267          -74.0345  B02512
2     4/1/14 0:21          40.7316          -73.9873  B02512
3     4/1/14 0:28          40.7588          -73.9776  B02512
4     4/1/14 0:33          40.7594          -73.9722  B02512

In [5]:
df.head()

,BK88,QN52,QN48,QN51,QN27,BX35,BX98,QN07,MN06,QN02,...,MN25,MN24,MN23,MN13,MN15,MN32,MN33,MN99,QN18,QN29
0,-73.976051,-73.794934,-73.775740,-73.803792,-73.861099,-73.896967,-73.872873,-73.757258,-73.946080,-73.760316,...,-74.000784,-73.992605,-73.989904,-74.001535,-73.993833,-73.938048,-73.935054,-74.010930,-73.858726,-73.867911
1,40.631284,40.757806,40.743334,40.775618,40.763673,40.834350,40.785983,40.718147,40.821271,40.675118,...,40.694295,40.724145,40.734443,40.762653,40.772940,40.780838,40.791695,40.684500,40.735717,40.744942
2,-73.977167,-73.794749,-73.775799,-73.800991,-73.859931,-73.896787,-73.872886,-73.755890,-73.946404,-73.758806,...,-74.000960,-73.992634,-73.989870,-74.001339,-73.993789,-73.937903,-73.935108,-74.011934,-73.858672,-73.867877
3,40.630755,40.755636,40.743326,40.775397,40.762209,40.834133,40.785971,40.716307,40.820580,40.673014,...,40.694077,40.724065,40.733535,40.762217,40.772912,40.780758,40.791658,40.683896,40.735627,40.744824
4,-73.977000,-73.794579,-73.778060,-73.798653,-73.859668,-73.896303,-73.872983,-73.754702,-73.946720,-73.758598,...,-74.003015,-73.993093,-73.990028,-74.001279,-73.993727,-73.937796,-73.935173,-74.012177,-73.858585,-73.867852

In [81]:
df_demo = pd.read_csv("demographics.csv")

In [82]:
df_demo.head()

,nta_name,borough,nta_code,population,under_5_years,5-9_years,10-14_years,15-19_years,20-24_years,25-29_years,...,15000_to_24999,25000_to_34999,35000_to_49999,50000_to_74999,75000_to_99999,100000_to_149999,150000_to_199999,200000_or_more,median_income,mean_income
0,Allerton-Pelham Gardens,Bronx,BX31,28903,1679,1706,1763,2039,1964,1703,...,797,773,1160,1764,1155,1562,765,427,61638,78489
1,Annadale-Huguenot-Prince's Bay-Eltingville,Staten Island,SI01,27770,1397,1698,1817,1880,1720,1594,...,571,405,1008,1523,1346,2075,1086,1151,88288,109187
2,Arden Heights,Staten Island,SI48,25238,1507,1540,1596,1752,1614,1561,...,337,516,707,1421,1611,2021,1047,740,89570,101627
3,Astoria,Queens,QN70,78793,3480,3037,3060,3392,6630,11586,...,3673,2816,4725,6463,4557,4698,1627,1197,54882,70094
4,Auburndale,Queens,QN48,19996,917,966,1063,1168,1214,1307,...,445,632,690,1417,1060,1237,589,433,70772,84402

# Make nta poly data

In [109]:
def get_nta_name(nta_code):
    if nta_code in nta_code_to_name_map:
        return nta_code_to_name_map[nta_code]
    else:
        return np.nan

def get_nta_borough(nta_code):
    if nta_code in nta_code_to_borough_map:
        return nta_code_to_borough_map[nta_code]
    else:
        return np.nan

In [107]:
print "BX98" in nta_code_to_name_map.keys()
print nta_code_to_borough_map.keys()

False
['BX08', 'BK64', 'BK63', 'BK61', 'BK60', 'BX03', 'BX01', 'BX06', 'BX07', 'BK69', 'BK68', 'SI48', 'BX09', 'QN18', 'MN40', 'MN20', 'BX33', 'SI45', 'SI07', 'BX59', 'QN53', 'QN38', 'QN30', 'QN31', 'QN33', 'QN34', 'QN35', 'QN37', 'BK50', 'BK58', 'BX05', 'SI54', 'SI05', 'MN34', 'MN35', 'MN36', 'MN31', 'MN32', 'MN33', 'QN29', 'QN28', 'MN19', 'QN23', 'QN22', 'QN21', 'QN20', 'QN27', 'QN26', 'QN25', 'BX49', 'BK45', 'BK44', 'BK46', 'BK41', 'BK40', 'BK43', 'BK42', 'QN17', 'QN15', 'QN12', 'BK72', 'QN10', 'MN28', 'MN27', 'MN09', 'MN25', 'MN24', 'MN23', 'MN22', 'MN21', 'QN19', 'BX14', 'BX17', 'BX10', 'BX13', 'BK38', 'BK30', 'BK31', 'BK32', 'BK33', 'BK34', 'BK35', 'BK37', 'QN01', 'QN03', 'QN02', 'QN05', 'QN07', 'QN06', 'MN12', 'MN13', 'MN11', 'MN17', 'MN14', 'MN15', 'BX62', 'BX63', 'QN68', 'BK29', 'BK28', 'BK23', 'BK21', 'BK27', 'BK26', 'BK25', 'MN04', 'MN06', 'MN01', 'SI01', 'MN03', 'SI08', 'QN76', 'QN70', 'QN71', 'BX75', 'QN72', 'QN08', 'SI14', 'SI12', 'SI11', 'QN66', 'QN63', 'QN62', 'QN61', 'QN60', 'BX46', 'BX44', 'BX43', 'BX40', 'BX41', 'BX28', 'BX29', 'BX26', 'BX27', 'BX22', 'SI22', 'SI24', 'SI25', 'SI28', 'BK96', 'BK95', 'BK93', 'BK90', 'BK91', 'QN52', 'BK17', 'QN50', 'QN51', 'QN56', 'QN57', 'QN54', 'QN55', 'BX52', 'BX55', 'BK19', 'BK75', 'BK76', 'BK77', 'BX39', 'BK73', 'BX37', 'BX36', 'BX35', 'BX34', 'BK78', 'BK79', 'BX31', 'BX30', 'BK09', 'SI35', 'SI37', 'SI36', 'MN50', 'SI32', 'BK88', 'BK81', 'BK83', 'BK82', 'BK85', 'QN49', 'QN48', 'QN45', 'QN44', 'QN47', 'QN46', 'QN41', 'QN43', 'QN42']

In [99]:
nta_code_to_name_map = {}
nta_code_to_borough_map = {}
for i in range(len(df_demo)):
    code = df_demo["nta_code"].iloc[i]
    name = df_demo["nta_name"].iloc[i]
    borough = df_demo["borough"].iloc[i]
    nta_code_to_name_map[code] = name
    nta_code_to_borough_map[code] = borough

In [97]:
c = all_ntas[0].polygon.exterior.coords.xy
c[1][0]

40.6312841471042

In [110]:
name_data = []
code_data = []
borough_data = []
point_order = []
polygon_id = []
lat_data = []
lon_data = []

for nta in all_ntas:
    poly = nta.polygon
    c = poly.exterior.coords.xy
    lats = c[1]
    lons = c[0]
    code = nta.name
    name = get_nta_name(code)
    borough = get_nta_borough(code)
    
    for i in range(len(lats)):
        name_data.append(name)
        code_data.append(code)
        borough_data.append(borough)
        point_order.append(i)
        polygon_id.append(code)
        lat_data.append(lats[i])
        lon_data.append(lons[i])

In [114]:
poly_data = {
    "NTA Name": name_data,
    "NTA Code": code_data,
    "Borough": borough_data,
    "Point Order":point_order,
    "Polygon ID": polygon_id,
    "Latitude":lat_data,
    "Longitude":lon_data
}

In [116]:
poly_df = pd.DataFrame.from_dict(poly_data)

In [117]:
poly_df.head()

,Borough,Latitude,Longitude,NTA Code,NTA Name,Point Order,Polygon ID
0,Brooklyn,40.631284,-73.976051,BK88,Borough Park,0,BK88
1,Brooklyn,40.630755,-73.977167,BK88,Borough Park,1,BK88
2,Brooklyn,40.629880,-73.977000,BK88,Borough Park,2,BK88
3,Brooklyn,40.629097,-73.976851,BK88,Borough Park,3,BK88
4,Brooklyn,40.628363,-73.976697,BK88,Borough Park,4,BK88

In [118]:
poly_df.to_csv("NTA_polygon_data.csv")

In [8]:
nta_codes = df.columns

In [10]:
nta_codes[0]

'BK88'

In [21]:
x = np.array(df["BK88"])

In [22]:
x = x[~np.isnan(x)]

In [24]:
def get_tuples(l, n=2):
    """Yield successive n-sized chunks from l."""
    return [l[i:i + n] for i in range(0, len(l), n)]

In [25]:
get_tuples(x)

[array([-73.97605079,  40.63128415]),
 array([-73.97716655,  40.6307549 ]),
 array([-73.97699992,  40.62987974]),
 array([-73.97685108,  40.62909682]),
 array([-73.97669748,  40.62836281]),
 array([-73.97657919,  40.62758143]),
 array([-73.97651605,  40.62730273]),
 array([-73.97645114,  40.6270165 ]),
 array([-73.97623597,  40.62598459]),
 array([-73.97726293,  40.62586101]),
 array([-73.97719809,  40.62511022]),
 array([-73.97711103,  40.6249565 ]),
 array([-73.97694526,  40.62406099]),
 array([-73.97683609,  40.62348928]),
 array([-73.97675353,  40.62302155]),
 array([-73.97656727,  40.62200314]),
 array([-73.97695214,  40.62163825]),
 array([-73.97705496,  40.62154076]),
 array([-73.97539524,  40.62077823]),
 array([-73.97682577,  40.61868404]),
 array([-73.97752445,  40.61768478]),
 array([-73.97785153,  40.61729585]),
 array([-73.97563097,  40.61595363]),
 array([-73.97537479,  40.61576296]),
 array([-73.9754442 ,  40.61612233]),
 array([-73.9754824 ,  40.61632016]),
 array([-73.97444472,  40.61642988]),
 array([-73.97336023,  40.61654995]),
 array([-73.9729047 ,  40.61416121]),
 array([-73.97399463,  40.61403813]),
 array([-73.9751732 ,  40.61473242]),
 array([-73.97497408,  40.61367635]),
 array([-73.97489439,  40.61319461]),
 array([-73.97477801,  40.61264671]),
 array([-73.97520973,  40.6128935 ]),
 array([-73.9774096 ,  40.61422635]),
 array([-73.97963965,  40.61557279]),
 array([-73.98004074,  40.61581517]),
 array([-73.98088056,  40.61632267]),
 array([-73.98186962,  40.61692037]),
 array([-73.98406935,  40.61824898]),
 array([-73.98627668,  40.61957486]),
 array([-73.98569501,  40.62013975]),
 array([-73.98785239,  40.62144327]),
 array([-73.990095  ,  40.62279719]),
 array([-73.99255118,  40.62428251]),
 array([-73.99398341,  40.62514964]),
 array([-73.99432641,  40.62535115]),
 array([-73.99489425,  40.62547003]),
 array([-73.9947363 ,  40.62562298]),
 array([-73.99465117,  40.62570542]),
 array([-73.99507959,  40.62581498]),
 array([-73.99678992,  40.62683429]),
 array([-73.99687922,  40.62653902]),
 array([-73.99701778,  40.62606986]),
 array([-73.99724211,  40.62529693]),
 array([-73.99811758,  40.62582395]),
 array([-74.00031514,  40.62715282]),
 array([-74.00251599,  40.62848245]),
 array([-74.00222938,  40.62875941]),
 array([-74.00193156,  40.62904101]),
 array([-74.00306298,  40.62972342]),
 array([-74.00368742,  40.63010002]),
 array([-74.00413872,  40.63037221]),
 array([-74.00634015,  40.63170187]),
 array([-74.00702447,  40.63211824]),
 array([-74.00680822,  40.63225863]),
 array([-74.00662059,  40.6323837 ]),
 array([-74.0063076 ,  40.63259233]),
 array([-74.00556635,  40.63309142]),
 array([-74.00735781,  40.63417187]),
 array([-74.00675267,  40.63475303]),
 array([-74.00641929,  40.63507309]),
 array([-74.00617071,  40.63531174]),
 array([-74.00558757,  40.63587447]),
 array([-74.00500491,  40.63643348]),
 array([-74.00442193,  40.63699323]),
 array([-74.00411248,  40.6372912 ]),
 array([-74.00383937,  40.63755417]),
 array([-74.00325417,  40.6381125 ]),
 array([-74.00267359,  40.63867525]),
 array([-74.00237088,  40.63896592]),
 array([-74.0020922,  40.6392335]),
 array([-74.00150916,  40.6397932 ]),
 array([-74.00092686,  40.64035414]),
 array([-74.00066222,  40.64060755]),
 array([-74.00034266,  40.64091356]),
 array([-73.99975835,  40.64147539]),
 array([-73.99917709,  40.64203368]),
 array([-73.99697502,  40.64070235]),
 array([-73.99551178,  40.63981791]),
 array([-73.99479684,  40.64029673]),
 array([-73.99433268,  40.64060853]),
 array([-73.99407836,  40.64077864]),
 array([-73.99336398,  40.64125604]),
 array([-73.992646  ,  40.64173653]),
 array([-73.99192956,  40.64221315]),
 array([-73.99121421,  40.64269413]),
 array([-73.99049778,  40.64317268]),
 array([-73.98978034,  40.64365313]),
 array([-73.98906016,  40.64412748]),
 array([-73.98835131,  40.64457049]),
 array([-73.98750084,  40.64405375]),
 array([-73.98673224,  40.64358224]),
 array([-73.98589788,  40.64307584]),
 array([-73.98509663,  40.6425813 ]),
 array([-73.98458863,  40.64227025]),
 array([-73.98430437,  40.64209281]),
 array([-73.98331772,  40.64148693]),
 array([-73.98299563,  40.64133324]),
 array([-73.98244598,  40.64154687]),
 array([-73.98204465,  40.64171583]),
 array([-73.98123384,  40.64205316]),
 array([-73.98042201,  40.64239347]),
 array([-73.98007572,  40.64054794]),
 array([-73.98000837,  40.64021708]),
 array([-73.97991127,  40.6396946 ]),
 array([-73.97987504,  40.63952645]),
 array([-73.97967849,  40.63847304]),
 array([-73.97955585,  40.6378275 ]),
 array([-73.97947736,  40.63743961]),
 array([-73.97938788,  40.63694041]),
 array([-73.97928735,  40.63642244]),
 array([-73.97911332,  40.63544863]),
 array([-73.97802302,  40.63556095]),
 array([-73.97689005,  40.6356831 ]),
 array([-73.97663799,  40.63436206]),
 array([-73.97655208,  40.63391175]),
 array([-73.97643486,  40.63329736]),
 array([-73.97605079,  40.63128415])]

In [27]:
Polygon(get_tuples(x))

In [34]:
class NTA:
    def __init__(self, polygon, name):
        self.polygon = polygon
        self.name = name

In [36]:
all_ntas = []
for nta_name in df.columns:
    coords = np.array(df[nta_name])
    coords = coords[~np.isnan(coords)]
    poly = Polygon(get_tuples(coords))
    nta = NTA(poly, nta_name)
    all_ntas.append(nta)

In [41]:
all_ntas[20].polygon

In [74]:
# lon should be around -73
# lat should be around 40
def get_nta_from_gps(lon, lat):
    point = Point(lon, lat)
    for my_nta in all_ntas:
        if my_nta.polygon.contains(point):
            return my_nta.name

In [77]:
print get_nta_from_gps(-73.97497408, 40.61403813)

BK46

In [121]:
nta_code_data = []
for i in range(len(df_uber_2014)):
    lt = df_uber_2014["pickup_latitude"].iloc[i]
    ln = df_uber_2014["pickup_longitude"].iloc[i]
    if get_nta_from_gps(ln,lt) != None:
        code = get_nta_from_gps(ln,lt)
        nta_code_data.append(code)
    else:
        nta_code_data.append(np.nan)
    #print get_nta_from_gps(ln,lt)

KeyboardInterrupt:

In [68]:
df_uber_2014["NTA Code"] = nta_code_data

None

In [123]:
green_df = pd.read_csv("green_trips.csv")

In [205]:
def date_to_month(date_str):
    year = int(date_str.split()[0][:4])
    month = int(date_str.split()[0][5:7])
    month_index = ((year-2014)*12)+month
    return month_index

# def date_to_month(date_str):
#     month = int(date_str.split()[0][0])
#     year = int(date_str.split()[0][-2:])
#     month_index = ((year-14)*12)+month
#     return month_index

In [125]:
green_df.head(100)

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.80
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.80
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.30
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.30
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.50
5,2015-03-04 21:36:48,2015-03-04 21:43:47,-73.954826,40.804962,-73.944008,40.812088,1,1.16,9.36
6,2015-01-21 09:27:41,2015-01-21 09:51:01,-73.862000,40.730438,-73.865089,40.656422,1,7.50,25.80
7,2015-03-07 18:51:58,2015-03-07 19:20:49,-73.971947,40.675697,-74.009293,40.635708,6,4.58,21.30
8,2015-01-11 16:55:04,2015-01-11 17:04:26,-73.949883,40.681896,-73.923279,40.684875,1,1.51,8.80
9,2014-05-30 05:53:15,2014-05-30 06:00:00,-73.952370,40.789875,-73.949173,40.781448,1,1.20,7.50
10,2015-06-12 01:13:51,2015-06-12 01:28:05,-73.944412,40.714386,-73.906830,40.693111,1,3.36,17.76
11,2015-05-06 23:27:02,2015-05-06 23:36:13,-73.947983,40.795643,-73.935081,40.828392,2,2.59,10.80
12,2014-08-30 01:16:49,2014-08-30 01:21:39,-73.957748,40.717758,-73.957664,40.730423,2,1.02,6.00
13,2015-05-28 17:46:46,2015-05-28 18:43:20,-73.954391,40.689556,-73.782257,40.648735,1,11.87,46.80
14,2014-08-29 00:03:16,2014-08-29 00:36:01,-73.993042,40.702480,-73.949760,40.784592,1,8.25,35.00
15,2015-06-05 16:03:43,2015-06-05 16:12:50,-73.949684,40.809521,-73.948250,40.793056,1,1.55,10.30
16,2015-01-21 18:32:22,2015-01-21 18:38:33,-73.927696,40.823414,-73.918404,40.818977,1,1.00,8.00
17,2015-03-07 10:20:28,2015-03-07 10:23:46,-73.963661,40.682774,-73.963524,40.676258,1,0.50,6.36
18,2014-08-03 08:39:43,2014-08-03 08:52:37,-73.843697,40.722828,-73.895020,40.681301,1,5.21,17.00
19,2014-06-23 07:43:32,2014-06-23 07:50:25,-73.930832,40.848251,-73.944366,40.830429,3,1.50,8.00
20,2014-09-10 03:23:09,2014-09-10 03:30:25,-73.891106,40.747299,-73.880836,40.741787,1,1.20,8.50
21,2015-06-24 15:36:52,2015-06-24 16:40:29,-73.980217,40.660820,-73.789177,40.641697,1,13.90,52.30
22,2015-04-12 21:25:24,2015-04-12 21:31:29,-73.874191,40.750832,-73.880211,40.763622,1,1.11,7.30
23,2015-03-09 18:59:42,2015-03-09 19:01:02,-73.954903,40.720528,-73.951027,40.724209,1,0.29,4.80
24,2015-03-16 03:36:40,2015-03-16 03:40:16,-73.891533,40.746910,-73.893448,40.758286,1,0.80,6.30
25,2014-07-24 15:24:44,2014-07-24 15:29:48,-73.954041,40.730293,-73.945892,40.730549,1,0.59,5.50
26,2015-05-12 20:42:47,2015-05-12 21:04:50,-73.959244,40.667355,-73.883423,40.673901,1,4.30,19.30
27,2014-06-20 12:43:48,2014-06-20 12:54:38,-73.927986,40.670444,-73.903046,40.663364,1,1.91,10.50
28,2014-09-15 13:11:40,2014-09-15 13:20:15,-73.892021,40.748993,-73.885391,40.744148,1,1.13,7.50
29,2014-04-30 21:31:54,2014-04-30 21:40:50,-73.937531,40.666485,-73.948692,40.654312,1,1.74,10.00
...,...,...,...,...,...,...,...,...,...
70,2015-02-03 19:38:03,2015-02-03 19:41:33,-73.870781,40.751438,-73.878548,40.750393,1,0.43,5.80
71,2014-04-17 22:09:26,2014-04-17 22:15:07,-73.999107,40.675781,-73.990189,40.687237,1,1.18,7.00
72,2015-02-20 00:34:35,2015-02-20 00:49:07,-73.950409,40.723125,-73.913971,40.703712,1,3.11,16.56
73,2015-03-12 19:36:33,2015-03-12 19:57:15,-73.869865,40.749855,-73.930351,40.756886,1,3.63,17.80
74,2014-05-08 09:58:40,2014-05-08 10:08:22,-73.936325,40.749748,-73.925377,40.765305,2,1.54,9.00
75,2015-06-15 14:27:15,2015-06-15 14:31:20,-73.938309,40.817593,-73.948334,40.812241,1,0.83,5.80
76,2014-05-01 19:34:12,2014-05-01 19:50:36,-73.938560,40.816971,-73.953255,40.778301,1,3.68,16.00
77,2014-06-09 09:55:30,2014-06-09 10:02:31,-73.871284,40.734108,-73.877792,40.738510,1,0.73,6.50
78,2015-06-19 12:50:59,2015-06-19 13:00:58,-73.877609,40.748463,-73.884613,40.744644,3,1.28,8.30
79,2015-02-08 01:04:51,2015-02-08 01:10:39,-73.956360,40.673141,-73.943886,40.661911,5,1.51,9.96
80,2014-06-07 21:12:31,2014-06-07 21:32:34,-73.943207,40.836601,-73.931252,40.822369,1,1.51,14.00
81,2014-04-15 21:32:20,2014-04-15 21:59:03,-73.952164,40.717628,-73.979996,40.783543,1,6.60,29.40
82,2015-05-08 01:04:58,2015-05-08 01:20:07,-73.954308,40.742786,-73.913094,40.774048,1,3.16,19.24
83,2014-07-08 23:54:31,2014-07-08 23:54:32,-73.860222,40.744179,-73.860222,40.744179,1,0.00,44.00
84,2014-05-15 02:57:17,2014-05-15 03:02:56,-73.922203,40.707272,-73.908707,40.694813,1,1.38,8.90
85,2014-05-12 09:09:17,2014-05-12 09:17:54,-73.872345,40.754665,-73.867210,40.761017,1,1.11,8.00
86,2014-09-10 07:00:06,2014-09-10 07:18:30,-73.942497,40.832218,-73.951248,40.786018,1,3.83,16.00
87,2014-05-08 16:58:06,2014-05-08 17:11:31,-73.921333,40.766666,-73.918465,40.765068,5,2.31,12.50
88,2014-07-13 16:58:58,2014-07-13 17:22:45,-73.972198,40.673180,-73.971573,40.743675,6,9.67,44.90
89,2014-08-04 06:13:44,2014-08-04 06:29:42,-73.989601,40.701839,-73.976692,40.755371,1,6.34,23.00
90,2014-08-22 08:29:57,2014-08-22 08:31:26,-73.954117,40.811268,-73.959381,40.811089,1,0.40,4.00
91,2015-01-10 10:50:01,2015-01-10 10:58:30,-73.937988,40.797108,-73.944237,40.806377,1,1.52,8.80
92,2015-06-16 18:13:19,2015-06-16 18:39:37,-73.978157,40.689720,-73.944595,40.707916,1,3.67,25.38
93,2014-09-18 07:51:03,2014-09-18 08:15:51,-73.848679,40.713879,-73.783241,40.643814,1,7.91,27.00
94,2014-09-21 01:01:11,2014-09-21 01:10:59,-73.918839,40.758919,-73.903069,40.746037,1,2.04,10.50
95,2015-01-03 08:32:19,2015-01-03 08:37:09,-73.917961,40.742878,-73.927238,40.729061,1,1.51,7.80
96,2015-05-26 12:03:02,2015-05-26 12:08:35,-73.987190,40.693691,-73.993729,40.690128,1,0.62,6.30
97,2015-02-12 18:37:45,2015-02-12 18:48:01,-73.890404,40.746464,-73.887611,40.762718,1,1.31,9.80
98,2015-05-02 15:06:48,2015-05-02 15:28:46,-73.990593,40.693176,-73.956123,40.775982,1,8.71,29.80
99,2014-09-05 02:33:02,2014-09-06 02:11:02,-73.937248,40.804626,-73.951157,40.814365,1,1.84,9.50

In [137]:
t = green_df["pickup_datetime"].iloc[0]

In [191]:
print date_to_month("1/1/15 7:00")

13

In [139]:
t.split()

['2015-02-01', '01:26:45']

In [148]:
green_nta_data = pd.read_csv("green_trips_and_nta.csv.zip")

In [153]:
yello_nta_data = pd.read_csv("yellow_and_nta.csv.zip")

In [151]:
green_nta_data.head()

,Unnamed: 0,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,NTA Code,Data Index
0,0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,MN09,14
1,1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8,BK90,13
2,2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3,BK73,9
3,3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3,BK73,4
4,4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5,BK61,5

In [158]:
green_nta_data["Date Index"] = green_nta_data["pickup_datetime"].apply(date_to_month)

In [159]:
yello_nta_data["Date Index"] = yello_nta_data["pickup_datetime"].apply(date_to_month)

In [163]:
green_aggs = green_nta_data.groupby(["Date Index","NTA Code"]).agg(["count"])

In [170]:
green_aggs.head()

                    Unnamed: 0 pickup_datetime dropoff_datetime  \
                         count           count            count
Date Index NTA Code
4          BK09           4147            4147             4147
           BK17           1098            1098             1098
           BK19             90              90               90
           BK21            178             178              178
           BK23             24              24               24

                    pickup_longitude pickup_latitude dropoff_longitude  \
                               count           count             count
Date Index NTA Code
4          BK09                 4147            4147              4147
           BK17                 1098            1098              1098
           BK19                   90              90                90
           BK21                  178             178               178
           BK23                   24              24                24

                    dropoff_latitude passenger_count trip_distance  \
                               count           count         count
Date Index NTA Code
4          BK09                 4147            4147          4147
           BK17                 1098            1098          1098
           BK19                   90              90            90
           BK21                  178             178           178
           BK23                   24              24            24

                    total_amount Data Index
                           count      count
Date Index NTA Code
4          BK09             4147       4147
           BK17             1098       1098
           BK19               90         90
           BK21              178        178
           BK23               24         24

In [171]:
yellow_aggs = yello_nta_data.groupby(["Date Index","NTA Code"]).agg(["count"])

In [173]:
yellow_aggs.to_csv("yellow_rides_nta_counts_jack.csv")

In [174]:
green_aggs.to_csv("green_rides_nta_counts_jack.csv")

In [175]:
uber_2014_nta_data = pd.read_csv("uber_trips_2014_and_nta.csv")

In [180]:
uber_2014_nta_data["pickup_datetime"].iloc[100]

'4/1/14 7:00'

In [192]:
uber_2014_nta_data["Date Index"] = uber_2014_nta_data["pickup_datetime"].apply(date_to_month)

In [194]:
uber_2014_nta_data_aggs = uber_2014_nta_data.groupby(["Date Index","NTA Code"]).agg(["count"])

In [196]:
uber_2014_nta_data_aggs.to_csv("uber_2014_nta_data_counts_jack.csv")

In [211]:
uber_2015_nta_data = pd.read_table("uber_nta_2015.csv",sep=' ')

In [214]:
uber_2015_nta_data.head()

,pickup_location_id,pickup_datetime,dispatch_base,affiliate_base,nta_code
1,141,2015-05-17 09:47:00,B02617,B02617,MN31
2,65,2015-05-17 09:47:00,B02617,B02617,BK38
3,100,2015-05-17 09:47:00,B02617,B02617,MN13
4,80,2015-05-17 09:47:00,B02617,B02774,BK90
5,90,2015-05-17 09:47:00,B02617,B02617,MN13

In [215]:
uber_2015_nta_data["Date Index"] = uber_2015_nta_data["pickup_datetime"].apply(date_to_month)

In [210]:
type(uber_2015_nta_data["pickup_datetime"].iloc[0])

str

In [218]:
uber_2015_nta_data.head()

,pickup_location_id,pickup_datetime,dispatch_base,affiliate_base,nta_code,Date Index
1,141,2015-05-17 09:47:00,B02617,B02617,MN31,17
2,65,2015-05-17 09:47:00,B02617,B02617,BK38,17
3,100,2015-05-17 09:47:00,B02617,B02617,MN13,17
4,80,2015-05-17 09:47:00,B02617,B02774,BK90,17
5,90,2015-05-17 09:47:00,B02617,B02617,MN13,17

In [219]:
uber_2015_nta_data["NTA Code"] = uber_2015_nta_data["nta_code"]

In [220]:
uber_2015_nta_data_aggs = uber_2015_nta_data.groupby(["Date Index","nta_code"]).agg(["count"])

In [221]:
uber_2015_nta_data_aggs.to_csv("uber_2015_nta_counts_jack.csv")

In [222]:
uber_2015_nta_data_aggs.head()

                    pickup_location_id pickup_datetime dispatch_base  \
                                 count           count         count
Date Index nta_code
13         BK09                  15295           15295         15295
           BK17                   1295            1295          1295
           BK19                    573             573           573
           BK21                    446             446           446
           BK25                   1841            1841          1841

                    affiliate_base NTA Code
                             count    count
Date Index nta_code
13         BK09              14670    15295
           BK17               1235     1295
           BK19                545      573
           BK21                426      446
           BK25               1758     1841

In [ ]:
plt.hist(res)