In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
dem = pd.read_csv('demographics.csv')
dem.head()

,nta_name,borough,nta_code,population,under_5_years,5-9_years,10-14_years,15-19_years,20-24_years,25-29_years,...,15000_to_24999,25000_to_34999,35000_to_49999,50000_to_74999,75000_to_99999,100000_to_149999,150000_to_199999,200000_or_more,median_income,mean_income
0,Allerton-Pelham Gardens,Bronx,BX31,28903,1679,1706,1763,2039,1964,1703,...,797,773,1160,1764,1155,1562,765,427,61638,78489
1,Annadale-Huguenot-Prince's Bay-Eltingville,Staten Island,SI01,27770,1397,1698,1817,1880,1720,1594,...,571,405,1008,1523,1346,2075,1086,1151,88288,109187
2,Arden Heights,Staten Island,SI48,25238,1507,1540,1596,1752,1614,1561,...,337,516,707,1421,1611,2021,1047,740,89570,101627
3,Astoria,Queens,QN70,78793,3480,3037,3060,3392,6630,11586,...,3673,2816,4725,6463,4557,4698,1627,1197,54882,70094
4,Auburndale,Queens,QN48,19996,917,966,1063,1168,1214,1307,...,445,632,690,1417,1060,1237,589,433,70772,84402

In [3]:
print 'Average income across all NTAs:', dem['mean_income'].mean()
print 'Average income across the 28 identified NTAs:', dem[dem['nta_code'].isin(pd.read_csv('NTAS_Uber_new_market.csv', index_col=0)['NTA Code'])]['mean_income'].mean()

Average income across all NTAs: 77808.8776596
Average income across the 28 identified NTAs: 76048.6428571

In [4]:
print 'Average age across all NTAs:', dem['median_age'].mean()
print 'Average age across the 28 identified NTAs:', dem[dem['nta_code'].isin(pd.read_csv('NTAS_Uber_new_market.csv', index_col=0)['NTA Code'])]['median_age'].mean()

Average age across all NTAs: 36.1223404255
Average age across the 28 identified NTAs: 37.6428571429

In [7]:
print 'Average population across all NTAs:', dem['people_per_acre'].mean()
print 'Average population across the 28 identified NTAs:', dem[dem['nta_code'].isin(pd.read_csv('NTAS_Uber_new_market.csv', index_col=0)['NTA Code'])]['people_per_acre'].mean()

Average population across all NTAs: 68.9468085106
Average population across the 28 identified NTAs: 40.4321428571